<div class="col-lg-12 mb-4">
      {% if window_title is defined %}
      <div class="card-header py-3 bg-dark">
         <h6 class="m-0 font-weight-bold text-white"><i class="fas fa-layer-group text-warning mr-2"></i>{{window_title}}</h6>
      </div>
      {% endif %}
      <div class="d-flex flex-row flex-wrap my-2 px-1 py-1">
         {% if posts is empty %}
            <div class="small text-muted font-italic">Il n'y a pas encore d'articles</div>
         {% endif %}
         {% for post in posts %}
         <div class="mb-3 col-sm-12 col-md-6 col-xl-4">
            <div class="card bg-light d-flex flex-row flex-wrap card-body p-2 shadow-sm zoom-effect">
               <img class="card-img-top rounded mb-2" src="{{ "/img/articles/"~post.coverImg }}" alt="{{post.coverAltImg}}">
               <h5 class="card-title col-12 text-dark px-0 m-0"><i class="fas fa-newspaper text-warning mr-2"></i>{{post.title}}</h5>
               <span class="small">Le {{post.createdAt | date('d/m/y à H:i')}} </span>
               <div class="ml-auto">
                  <a href="/blog/{{post.slug}}" class="text-primary mx-1"><i class="fas fa-eye"></i></a>
                  <a href="/admin/blog/{{post.slug}}/" class="text-warning mx-1"><i class="fas fa-pen"></i></a>
                  <a href="#" class="text-danger mx-1" onclick="showModal(this);return false;" data-toggle="modal" data-target="confirm" data-action="/admin/blog/{{post.slug}}/supprimer/" data-title="Supprimer" data-content="{{ "Voulez-vous vraiment supprimer l'article "~post.title~" ?"}}"><i class="fas fa-trash-alt"></i></a>
               </div>
            </div>
         </div>
         {% endfor %}
      </div>
</div>






