<div class="col-lg-12 mb-4">
{% for comment in comments %}
   <div class="card mb-3 col-12">
      <div class="d-flex flex-row flex-wrap card-body p-2">
         <h5 class="col-12 card-title text-secondary px-0 m-0">{{ comment.title }}</h5>
         <blockquote class="blockquote col-12 m-0 px-0">
           <small class="card-text text-dark col-12 px-0 mb-0">{{ comment.comment }}</small>
           <footer class="blockquote-footer">Le {{comment.createdAt|date('d/m/Y à h:i')}} par <span class="badge badge-secondary">{{ comment.author }}</span></footer>
         </blockquote>
         <div class="col-12 custom-control custom-switch text-right">
            {% if comment.status == 1 %}
               <form method="POST" action="/admin/comment/{{ comment.id }}/mettre-hors-ligne/">
               <input type="checkbox" class="custom-control-input" id="{{ comment.id }}" checked onchange="this.form.submit()" />
            {% else %}
               <form method="POST" action="/admin/comment/{{ comment.id }}/mettre-en-ligne/">
               <input type="checkbox" class="custom-control-input" id="{{ comment.id }}" onchange="this.form.submit()" />
            {% endif %}
           <label class="custom-control-label" for="{{ comment.id }}">Afficher</label>
            </form>
         </div>
      </div>
   </div>
{% endfor %}
</div>