<!DOCTYPE html>
<html lang="fr">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>
         {% block title %}Kilian Blog{% endblock %}
      </title>

      <meta name="description" content="{% block metaDescription %}{% endblock %}">
      <meta property="og:url" content=" {% block ogUrl %}{% endblock %}"/>
      <meta property="og:type" content=" {% block ogType %}website{% endblock %}"/>
      <meta property="og:title" content="{{  block('title') }}"/>
      <meta property="og:description" content=" {{ block('metaDescription') }}"/>
      <meta property="og:image" content="{% block ogImage %}{% endblock %}"/>

      <meta name="twitter:card" content="summary"/>
      <meta name="twitter:site" content="@kilian_ld"/>
      <meta name="twitter:title" content="{{  block('title') }}"/>
      <meta name="twitter:description" content="{{  block('metaDescription') }}"/>
      <meta name="twitter:image" content="{{  block('ogImage') }}"/>

      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

      <link rel="icon" href="{{ assets_directory }}img/logo.png" type="image/x-icon"/>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <link rel="stylesheet" href="{{ assets_directory }}css/theme.css">
      <link rel="stylesheet" href="{{ assets_directory }}css/style.css">

   </head>
   <body class="home">
      {% include "client/parts/_header.html.twig" %}
      <main>
         {% block main %}{% endblock %}
      </main>
      {% include "client/parts/_messages.html.twig" %}
      {% include "client/parts/_footer.html.twig" %}
   </body>
</html>