{% set assets_directory = '' %}

{% extends "client/base.html.twig" %}

{% block title %}
   Blog -
   {{parent()}}
{% endblock %}

{% block main %}
   <div class="container d-flex flex-row flex-wrap justify-content-around mt-6 p-4">
      <h1 class="col-12 mb-5">Blog : Derniers posts</h1>
      {% for post in posts %}
      <a href="{{ "/blog/"~post.slug }}" class="card mb-3 col-12 col-md-4 article-blog">
         <img class="card-img-top mr-2 mt-2 rounded" src="{{ "/img/articles/"~post.coverImg }}" alt="{{post.coverAltImg}}">
         <div class="card-body">
            <h5 class="card-title text-dark mb-1">{{post.title}}</h5>
            <p class="card-text mb-0">
               <small class="text-muted mb-1">Le {{post.createdAt|date('d/m/Y à h:i')}}</small>
            </p>
            <small class="card-text text-dark">{{ post.content|length > 150 ? post.content|slice(0, 150) ~ '...' : post.content  }}</small>
         </div>
      </a>
      {% endfor %}
      {% include "client/parts/_pagination.html.twig" %}
   </div>
{% endblock %}