{% set assets_directory = '' %}

{% extends "client/base.html.twig" %}

{% block title %}
   Accueil -
   {{parent()}}
{% endblock %}

{% block metaDescription %}
   Un blog php
{% endblock %}

{% block main %}
   <header id="head">
      <div class="container w-75" id="container-tete">
         <div class="col">
            <h1 class="lead">{{admin.firstName}} {{admin.lastName}}</h1>
            <p class="tagline">{{admin.catchPhrase}}</p>
            <div class="col row-md col-12 px-0">
               <a class="btn btn-default btn-lg col-12 col-md-5" role="button">Voir le Portfolio</a>
               <a href="{{admin.urlCV}}" download class="btn btn-action btn-lg col-12 col-md-5" role="button">Télécharger le CV</a>
            </div>
         </div>
      </div>
   </header>
   <div class="container text-center">
      <br>
      <br>
      <h2 class="thin">The best place to tell people why they are here</h2>
      <p class="text-muted">
         The difference between involvement and commitment is like an eggs-and-ham breakfast:<br>
         the chicken was involved; the pig was committed.
      </p>
   </div>
   <div class="jumbotron top-space">
      <div class="container">
         <div class="row">
            {% for post in posts %}
            <a href="{{ "/blog/"~post.slug }}" class="card mb-3 col-12 col-md-4">
               <img class="card-img-top" src="{{ "/img/"~post.coverImg }}" alt="{{post.coverAltImg}}">
               <div class="card-body">
                  <h5 class="card-title text-dark">{{post.title}}</h5>
                  <p class="card-text text-dark">{{ post.content|length > 150 ? post.content|slice(0, 150) ~ '...' : post.content  }}</p>
                  <p class="card-text">
                     <small class="text-muted">Le {{post.createdAt|date('d/m/Y à h:i')}}</small>
                  </p>
               </div>
            </a>
            {% endfor %}
         </div>
      </div>
   </div>
</div>
{% endblock %}