{% set assets_directory = '' %}

{% extends "client/base.html.twig" %}

{% block title %}
   Accueil -
   {{parent()}}
{% endblock %}

{% block metaDescription %}
   Un blog php
{% endblock %}

{% block main %}
   <header id="head">
      <div class="container w-75" id="container-tete">
         <div class="col">
            <h1 class="lead">{{admin.firstName}} {{admin.lastName}}</h1>
            <p class="tagline">{{admin.catchPhrase}}</p>
            <div class="col row-md col-12 px-0">
               <a class="btn btn-default btn-lg col-12 col-md-5" role="button">Voir le Portfolio</a>
               <a href="{{admin.urlCV}}" download class="btn btn-action btn-lg col-12 col-md-5" role="button">Télécharger le CV</a>
            </div>
         </div>
      </div>
   </header>
   <div class="jumbotron">
      <div class="container">
         <div class="row">
            {% for post in posts %}
            <a href="{{ "/blog/"~post.slug }}" class="card mb-3 col-12 col-md-4 article-blog">
               <img class="card-img-top mr-2 mt-2 rounded" src="{{ "/img/articles/"~post.coverImg }}" alt="{{post.coverAltImg}}">
               <div class="card-body">
                  <h5 class="card-title text-dark mb-1">{{post.title}}</h5>
                  <p class="card-text mb-0">
                     <small class="text-muted mb-1">Le {{post.createdAt|date('d/m/Y à h:i')}}</small>
                  </p>
                  <small class="card-text text-dark">{{ post.content|length > 150 ? post.content|slice(0, 150) ~ '...' : post.content  }}</small>
               </div>
            </a>
            {% endfor %}
         </div>
      </div>
   </div>
</div>
{% endblock %}