{% set assets_directory = '../' %}

{% extends "client/base.html.twig" %}

{% block title %}
   Post -
   {{parent()}}
{% endblock %}

{% block main %}
   <div class="container d-flex flex-row flex-wrap justify-content-around text-justify mt-6 p-4 px-5">
      <a href="/blog" class="col-12 mb-3 mt-3">
         <button class="btn btn-warning">
            <i class="fas fa-arrow-circle-left mr-2"></i>Retour au blog</button>
      </a>
      <img class="card-img-top w-75 border rounded" src="../img/articles/{{ post|first.cover_img }}" alt="{{ post|first.cover_alt_img }}">
      <small class="text-muted mb-1">Article posté le {{post|first.post_date|date('d/m/Y à h:i')}} par {{ post|first.post_firstname }} {{ post|first.post_lastname }}</small>
      <h1 class="col-12 mt-3">{{ post|first.title }}</h1>
      <h3 class="col-12 mt-1">{{ post|first.lead }}</h3>
      <p class="col-12">{{ post|first.content }}</p>
      <a href="/blog" class="col-12 mb-5">
         <button class="btn btn-warning">
            <i class="fas fa-arrow-circle-left mr-2"></i>Retour au blog</button>
      </a>
   </div>
{% endblock %}