{% set assets_directory = '../' %}

{% extends "client/base.html.twig" %}

{% block title %}
   Post -
   {{parent()}}
{% endblock %}

{% block main %}
<div class="container px-0 mt-7 mb-5">
   <div class="d-flex flex-row flex-wrap">
      <div class="col-sm-12 col-md-7 mb-2">
         <img class="card-img-top w-10 border rounded" src="../../img/articles/{{ post.coverImg }}" alt="{{ post.coverAltImg }}">
         <small class="col-12 text-muted mb-1"><i class="far fa-question-circle mr-2"></i>Article posté le {{post.post_date|date('d/m/Y à H:i')}} par {{ post.admin.firstname }} {{ post.admin.lastname }}</small>
         <h1 class="col-12 mt-4">{{ post.title }}</h1>
         <h3 class="col-12 mt-1">{{ post.lead }}</h3>
         <p class="col-12 text-justify">{{ post.content }}</p>
         <div class="col-12 mb-5 ml-auto">
            <a href="/blog/1/" class="btn btn-warning">
               <i class="fas fa-arrow-circle-left mr-2"></i>Retour au blog
            </a>
         </div>
      </div>
      <div class="col-sm-12 col-md-5">
         {% if session.logged == false %}
            <div class="alert alert-danger" role="alert">
               <i class="fas fa-exclamation-circle mr-2"></i>Vous devez être connecté pour pouvoir ajouter un commentaire
            </div>
         {% else %}
            <h3 class="h3 mb-3"><i class="fas fa-comment-medical reverse-h text-warning mr-2"></i>Ajouter mon commentaire</h3>
            <i class="fas fa-user text-warning mr-2 ml-4"></i> <b>{{ session.user.username }}</b>
            <form action="/blog/{{ post.slug }}/commentaire/ajouter/" method="POST" class="d-flex flex-row justify-content-end flex-wrap px-3">
               <textarea class="form-control my-2" id="comment" name="comment"></textarea>
               <input type="number" class="d-none" id="postId" name="postId" readonly value="{{ post.id }}" />
               <button class="btn btn-success px-3"><i class="fas fa-paper-plane mr-2"></i>Poster</button>
            </form>
         {% endif %}
         <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800 mx-2"><i class="fas fa-comments text-warning mr-2"></i>Commentaires</h1>
         </div>
         {% if post.comments is empty %}
            <div class="small text-muted font-italic">Il n'y a pas encore de commentaire</div>
         {% endif %}
         {% for comment in post.comments %}
         <div class="mb-3 col-12">
            <div class="card bg-light d-flex flex-row flex-wrap card-body p-2 shadow-sm">
               <i class="fas fa-comment text-warning reverse-h mr-1"></i><span class="font-weight-bold">{{ comment.user.username }}</span>
               <span class="ml-auto text-secondary">{{comment.createdAt|date('d/m/Y à H:i')}}<i class="far fa-clock ml-2"></i></span>
               <blockquote class="blockquote col-12 m-0 px-0">
                 <small class="card card-text text-dark col-12 p-2 mt-2">{{ comment.comment }}</small>
               </blockquote>
            </div>
         </div>
         {% endfor %}
      </div>
   </div>
</div>
{% endblock %}