{% set assets_directory = '' %}

{% extends "client/base.html.twig" %}

{% block title %}
   Inscription -
   {{parent()}}
{% endblock %}


{% block main %}
   <div class="container mt-6 p-5">
      <div class="card col-12 col-md-8 offset-md-2 bg-light">
         <article class="card-body">
            <h4 class="card-title text-center mb-4 mt-1"><i class="fas fa-edit text-warning mr-2"></i>Inscription</h4>
            <hr>
            <form method="POST">
               <div class="form-group">
                  <div class="input-group pb-2">
                     <div class="input-group-prepend">
                        <span class="input-group-text">
                           <i class="fas fa-at"></i>
                        </span>
                     </div>
                     <label for="email" class="d-none">Adresse e-mail</label>
                     <input name="email" id="email" class="form-control" placeholder="Adresse e-mail" type="email" value="{{ _post.email }}" required="required" />
                  </div>
                  {% if messages.email is defined %}
                     {% include "client/parts/_message.html.twig" with {'message': messages.email} %}
                  {% endif %}
                  <div class="input-group pb-2">
                     <div class="input-group-prepend">
                        <span class="input-group-text">
                           <i class="fas fa-font"></i>
                        </span>
                     </div>
                     <label for="firstname" class="d-none">Prénom</label>
                     <input name="firstname" id="firstname" minlenght="2" maxlenght="48" class="form-control" value="{{ _post.firstname }}" placeholder="Prénom" type="text" required="required" />
                  </div>
                  {% if messages.firstname is defined %}
                     {% include "client/parts/_message.html.twig" with {'message': messages.firstname} %}
                  {% endif %}
                  <div class="input-group pb-2">
                     <div class="input-group-prepend">
                        <span class="input-group-text">
                           <i class="fas fa-font"></i>
                        </span>
                     </div>
                     <label for="lastname" class="d-none">Nom</label>
                     <input name="lastname" id="lastname" minlenght="2" maxlenght="48" class="form-control" value="{{ _post.lastname }}" placeholder="Nom" type="text" required="required" />
                  </div>
                  {% if messages.lastname is defined %}
                     {% include "client/parts/_message.html.twig" with {'message': messages.lastname} %}
                  {% endif %}
                  <div class="input-group pb-2">
                     <div class="input-group-prepend">
                        <span class="input-group-text">
                           <i class="fa fa-user"></i>
                        </span>
                     </div>
                     <label for="username" class="d-none">Nom d'utilisateur</label>
                     <input name="username" id="username" minlenght="2" maxlenght="48" class="form-control" value="{{ _post.username }}" placeholder="Nom d'utilisateur" type="text" required="required" />
                  </div>
                  {% if messages.username is defined %}
                     {% include "client/parts/_message.html.twig" with {'message': messages.username} %}
                  {% endif %}
                  <div class="input-group pb-2">
                     <div class="input-group-prepend">
                        <span class="input-group-text">
                           <i class="fa fa-lock"></i>
                        </span>
                     </div>
                     <label for="password" class="d-none">Mot de passe</label>
                     <input name="password" id="password" minlenght="2" maxlenght="256" class="form-control" value="{{ _post.password }}" placeholder="Mot de passe" type="password" required="required" />
                     <small class="col-12 px-2 mt-1 mb-2 text-secondary"><i class="fas fa-info-circle mr-2"></i>Doit contenir au moins 6 caractères, un caractère numérique et un caractère alphabétique.</small>
                  </div>
                  {% if messages.password is defined %}
                     {% include "client/parts/_message.html.twig" with {'message': messages.password} %}
                  {% endif %}
                  <div class="input-group pb-2">
                     <div class="input-group-prepend">
                        <span class="input-group-text">
                           <i class="fa fa-lock"></i>
                        </span>
                     </div>
                     <label for="password-confirm" class="d-none">Confirmation mot de passe</label>
                     <input name="password-confirm" id="password-confirm" minlenght="2" maxlenght="256" class="form-control" placeholder="Confirmation mot de passe" type="password" required="required" />
                  </div>
               </div>
               <div class="form-group">
                  <button type="submit" class="btn btn-warning btn-block">
                     S'inscrire
                  </button>
               </div>
            </form>
         </article>
      </div>
   </div>
{% endblock %}